@import url('http://fonts.googleapis.com/css/family=Quicksand:400,500&subset=latin-ext');
body {
    padding: 40px;
    background-image: linear-gradient(-20deg, #ff2846 0%, #6944af 100%);
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

ul {
    margin-left: -45px;
}

li {
    margin-left: 12px;
    list-style: none;
    display: inline-block;
}

.main {
    width: 500px;
    height: 520px;
    background-color: #fafafa;
    margin: 0 auto;
    padding-top: 10px;
    border-radius: 10px;
    border: 1px solid #eeeeee;
}

.img {
    background-image: url(yoga.jpg);
    background-color: #eeeeee;
    background-size: cover;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border: 1px solid #eeaaaa;
}

h1 {
    text-align: center;
    font-size: 30px;
    margin: 0;
    font-weight: bold;
    color: #6944ff;
}

p {
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    width: 450px;
    height: auto;
    color: #324;
}